USE [master]
GO
/****** Object:  Database [Chubb.DB]    Script Date: 27/10/2024 11:33:06 ******/
CREATE DATABASE [Chubb.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Chubb.DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Chubb.DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Chubb.DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Chubb.DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Chubb.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Chubb.DB]
GO
/****** Object:  Table [dbo].[ASEGURADO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEGURADO](
	[idAsegurado] [int] IDENTITY(1,1) NOT NULL,
	[cedulaAsegurado] [varchar](10) NULL,
	[nombreAsegurado] [varchar](50) NULL,
	[apellidoAsegurado] [varchar](50) NULL,
	[edadAsegurado] [int] NULL,
	[telefonoAsegurado] [varchar](15) NULL,
	[fechaRegistro] [date] NULL,
	[idEstado] [int] NULL,
 CONSTRAINT [PK_ASEGURADO] PRIMARY KEY CLUSTERED 
(
	[idAsegurado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASEGURADO_SEGURO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASEGURADO_SEGURO](
	[idAseguradoSeguro] [int] IDENTITY(1,1) NOT NULL,
	[idAsegurado] [int] NULL,
	[idSeguro] [int] NULL,
	[idEstado] [int] NULL,
	[fechaRegistro] [date] NULL,
 CONSTRAINT [PK_ASEGURADO_SEGURO] PRIMARY KEY CLUSTERED 
(
	[idAseguradoSeguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEGURO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEGURO](
	[idSeguro] [int] IDENTITY(1,1) NOT NULL,
	[nombreSeguro] [varchar](150) NULL,
	[codigoSeguro] [varchar](150) NULL,
	[sumaAsegurada] [float] NULL,
	[prima] [float] NULL,
	[idEstado] [int] NULL,
 CONSTRAINT [PK_SEGURO] PRIMARY KEY CLUSTERED 
(
	[idSeguro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASEGURADO]  WITH CHECK ADD  CONSTRAINT [FK_ASEGURADO_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([idEstado])
GO
ALTER TABLE [dbo].[ASEGURADO] CHECK CONSTRAINT [FK_ASEGURADO_ESTADO]
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO]  WITH CHECK ADD  CONSTRAINT [FK_ASEGURADO_SEGURO] FOREIGN KEY([idSeguro])
REFERENCES [dbo].[SEGURO] ([idSeguro])
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO] CHECK CONSTRAINT [FK_ASEGURADO_SEGURO]
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO]  WITH CHECK ADD  CONSTRAINT [FK_ASEGURADO_SEGURO_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([idEstado])
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO] CHECK CONSTRAINT [FK_ASEGURADO_SEGURO_ESTADO]
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO]  WITH CHECK ADD  CONSTRAINT [FK_SEGURO_ASEGURADO] FOREIGN KEY([idAsegurado])
REFERENCES [dbo].[ASEGURADO] ([idAsegurado])
GO
ALTER TABLE [dbo].[ASEGURADO_SEGURO] CHECK CONSTRAINT [FK_SEGURO_ASEGURADO]
GO
ALTER TABLE [dbo].[SEGURO]  WITH CHECK ADD  CONSTRAINT [FK_SEGURO_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([idEstado])
GO
ALTER TABLE [dbo].[SEGURO] CHECK CONSTRAINT [FK_SEGURO_ESTADO]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_ASEGURADO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_ASEGURADO]

	@ID int
	AS 
	BEGIN 
	update Asegurado set
	idEstado=2
	where idAsegurado=@ID
	update ASEGURADO_SEGURO set
	idEstado=2
	where idAsegurado=@ID
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_ASEGURO_SEGURO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETE_ASEGURO_SEGURO]
	@ID int
	AS 
	BEGIN
	
	update ASEGURADO_SEGURO set
	idEstado=2
	where idAseguradoSeguro=@ID
	END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_SEGURO]    Script Date: 27/10/2024 11:33:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DELETE_SEGURO]
	@ID int
	AS 
	BEGIN
	update SEGURO set
	idEstado=2
	where idSeguro=@ID

	update ASEGURADO_SEGURO set
	idEstado=2
	where idSeguro=@ID
	END
GO
USE [master]
GO
